[Desktop Entry]
Name=Superpop
Comment=Japanese OCR Popup Dictionary with SuperMemo export
Exec=superpop
Icon=com.github.beesan.superpop
Terminal=false
Type=Application
Categories=Education;Languages;Utility;
Keywords=Japanese;OCR;Dictionary;Popup;SuperMemo;SRS;
